{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load aristotle_tags %}

{% block objSpecific %}
{% endblock %}

{% block relationships %}
    {% comment %}
    {# TODO: this loads too slow on big sets #}
    {% if item.valuedomain_set.all %}
        <h3>Value Domains using this Data Type</h3>
        <ul>
        {% for vd in item.valuedomain_set.all|can_view_iter:request.user %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=vd skip_can_view=True %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endcomment %}
{% endblock %}
