{% extends 'aristotle_mdr/base.html' %}
{% load humanize i18n %}

{% block title %}
    {{ item.name }}
    {% if item.version %}
        - v{{ item.version }}
    {% endif %}
    ( Previous Version )
{% endblock %}

{% block content %}
<header class="row">
    {% block concept_title %}
    {% include "aristotle_mdr/concepts/titles/display_title.html" %}
    {% endblock %}
</header>
<section class="managed row">
    {% include "aristotle_mdr/concepts/infobox.html" %}
    {% include "aristotle_mdr/concepts/visibilityInfoBar.html" %}

    <h2>{% trans 'Definition'%}</h2>
    <div id="definition" class="definition">
        {{ item.definition|safe}}
    </div>

    {% for heading, fields in item.item_data.items %}
      <h2>{{ heading }}</h2>
      {% for field, value in fields.items %}
          <h3>
            {{ field }}
            {% if value.help_text %}
              <small>
                <a tabindex="0" type="button" class="aristotle-popover" data-toggle="popover" data-trigger="focus" title="{{ field }}" data-content="{{ value.help_text }}">
                  <i class="fa fa-2x fa-question-circle"></i>
                </a>
              </small>
            {% endif %}
          </h3>
        {% if value.is_link %}
          <p><a href="{% url 'aristotle:item' value.linkid %}">{{ value.object.name }}</a></p>
        {% else %}
          <p>{{ value.value|default:"None" }}</p>
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for weak in item.weak %}
    <h3>{{ weak.model }}</h3>
    <table class="table">
      <thead>
        <tr>
          {% for header in weak.headers %}
            <th>
              {{ header.text }}
              {% if header.help_text %}
                <a tabindex="0" type="button" class="aristotle-popover" data-toggle="popover" data-trigger="focus" title="{{ header.text }}" data-content="{{ header.help_text }}">
                  <i class="fa fa-question-circle"></i>
                </a>
              {% endif %}
            </th>
          {% endfor %}
        <tr>
      </thead>
      <tbody>
        {% for item in weak.items %}
          <tr>
          {% for value in item.values %}
            {% if value.is_link %}
              <td><a href="{% url 'aristotle:item' value.linkid %}">{{ value.object.name }}</a></td>
            {% else %}
              <td>{{ value.value|default:"None" }}</td> 
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}

</section>
{% endblock %}
