<div>
    <style>
        /*
        .cke_reset_all .autocomplete-light-widget {
            background-color:white;
        }
        .cke_reset_all .autocomplete-light-widget, .cke_reset_all .autocomplete-light-widget * {
            white-space:normal;
        }
        .cke_reset_all .fa:before, .cke_reset_all .fa:after {
            font: normal normal normal 14px/1 FontAwesome
        }
        .cke_reset_all a.ac_preview_link * {
            color:#428bca;
        }
        .cke_dialog_ui_input_select {
          width: 100%;
        }
        */
        .select2-container * {
          z-index: 10010;
        }
        .cke_dialog_body .select2-container .select2-selection--single {
          position: relative;
        }
    </style>
    {{ form.as_p }}
</div>
