{% load util_tags humanize %}
<div class="result">
    {% if obj.id %}
        <a href="{% url 'aristotle:discussionsPost' obj.id %}">{{ discussion_post.title }}</a>
    {% endif %}
    <span class="post_title">({{ discussion_post.title }})</span>
    <p>
        {{ discussion_post.body|truncatechars:70 }}...
    </p>
    <div class="attrs">
    <span class="attr">
        {# <span class="time">Created: <time datetime="{{ discussion_post.created|isotime }}">{{ discussion_post.created }}</time></span> #}
        <header class="time">Last modified:</header>
        <time datetime="{{ discussion_post.modified|isotime }}">{{ discussion_post.modified }}</time>
    </span>
    </div>
</div>
