{% load util_tags humanize %}
<div class="result">
    {% if post.id %}
        <a href="{% url 'aristotle:discussionPost' post.id %}">{{ post.title }}</a>
    {% endif %}
    <span class="item_type">({{ post.title }})</span>
    <p>
        {{ post.text|striptags|truncatechars:70 }}...
    </p>
    <div class="attrs">
    <span class="attr">
        {# <span class="time">Created: <time datetime="{{ post.created|isotime }}">{{ post.created }}</time></span> #}
        <header class="time">Last modified:</header>
        <time datetime="{{ post.modified|isotime }}">{{ post.modified }}</time>
    </span>
    </div>
</div>
