{% extends 'aristotle_mdr/base.html' %}

{% block title %}
  Validate
{% endblock %}

{% block content %}
  <h1>{{ item_name }} Validation</h1>
  {% if not setup_valid %}
    <p>
      No Validation rules avaliable
    </p>
  {% else %}
    {% for result in results %}
    <p>
      {{ result.check }}: <i class="fa fa-{{ result.status|yesno:"check,times" }} text-{{ result.status|yesno:"success,danger" }}"></i>
      {% if result.message %}
        <span class="bg-{{ result.status|yesno:"success,danger" }}">{{ result.message }}</span>
      {% endif %}
    </p>
    {% endfor %}
  {% endif %}
{% endblock %}
