{% extends 'aristotle_mdr/downloads/html/pdf.html' %}
{% load i18n aristotle_tags aristotle_help util_tags %}

{% block title %}
{% if options.title %}
  {{ options.title }}
{% else %}
  {{ item.name }} {% if item.status %}({{item.status}}){% endif %}
{% endif %}
{% endblock %}

{% block content %}
<section style="page-break-after:always;">
    <header>
    {% if not tableOfContents and options.title %}
      {# If there was no table of contents the user submitted title should go here #}
      <h1>{{ options.title }}</h1>
    {% else %}
    <{% firstof header "h1" %} id="objectTitle">
        {{ item.name }}
    </{% firstof header "h1" %}>
    {% endif %}
  </header>
  <dl>
    <dt>Metadata Type</dt>
    <dd>{{ item.get_verbose_name }}
    </dd>
    <dt>Definition</dt>
    <dd><div class="definition">
      {{ item.definition|bleach }}
      </div>
    </dd>
    
    <dt>{% trans 'Endorsed by' %}:</dt>
    <dd>
      <div class="">
          {% include "aristotle_mdr/downloads/html/helpers/statuses.html" with statuses=item.current_statuses only %}
      </div>
    </dd>
  
    {% block objSpecific %}
    {% endblock %}
  
    <dt>
      Related items
    </dt>
    <dd>
      <dl>
        <dt>Supersedes</dt>
        <dd>
          <ul>
          {% for sup in item.approved_supersedes %}
            {% if sup|can_view:user %}
              <li>
              <a href="/item/{{ sup.id }}/">{{ sup }}</a>
              <span>(id {{ sup.id }})</span>
              </li>
            {% endif %}
          {% empty %}
            <li>-</li>
          {% endfor %}
          </ul>
        </dd>
        <dt>Superseded by</dt>
        <dd>
          <ul>
            {% for sup in item.approved_superseded_by %}
              {% if sup|can_view:user %}
                <li>
                <a href="/item/{{ sup.id }}/">{{ sup }}</a>
                <span>(id {{ sup.id }})</span>
                </li>
              {% endif %}
            {% empty %}
              <li>-</li>
            {% endfor %}
          </ul>
        </dd>
      </dl>
    </dd>
  
  </dl>
  
  {% if subitems %}
  <header>Additional Components</header>
      {% for l,dict in subitems.items %}
      <div style="page-break-after:always;">
          <h2>{{ dict.verbose_name }}</h2>
          {% if dict.help %}<p>{% relink dict.help 'brief' %}</p>{% endif %}
          {% for i in dict.items %} 
              <div id='{{i.id}}'>
                  {% include i|template_path:'html,inline' with item=i header='h3' user=user only %}
              </div>
          {% endfor %}
      </div>
      {% endfor %}
  {% endif %}
  {% if item.slots.count > 0 %}
      {% include "aristotle_mdr/slots/html/slots_display.html" %}
  {% endif %}
</section>

{% endblock %}
