{% load i18n %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
       {% include "aristotle_mdr/downloads/html/pdf_css.html" %}
       {% include "aristotle_mdr/downloads/html/toc_css.html" %}
   </head>
   <body>
      <div style="page-break-before:always;">
      <h1>Table of Contents</h1>
      <table class="of contents">
      {% include "aristotle_mdr/downloads/html/toc_gen.html" with toc_tree=toc_tree %}
      </table>
      </div>
   </body>
</html>
