{% extends 'aristotle_mdr/base.html' %}
{% load render_bundle from webpack_loader %}
{% load humanize i18n %}
{% load aristotle_tags util_tags %}
{% load bootstrap3 %}

{% block title %}Reporting tool{% endblock %}

{% block content %}
    <form method="get">
        <div class="h4">Reporting tool</div>
        <div class="alert-danger">

        </div>
        <div class="well">
            <div class="h5 text-center">
                This report allows you to see the Standard Data Elements which have component items which haven't been registered as Standard
                with the selected Registration Authority.<br>
                Note that you need to be logged in as someone who has permission to see the Data Elements and their components.
            </div>
            <br>
            <br>
            <div class="row text-center">
                <div class="form-group col-sm-12 col-md-6">
                    {{ form.ra.label }}
                    {{ form.ra }}
                    {{ form.ra.errors }}
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    {{ form.status.label }}
                    {{ form.status }}
                    {{ form.status.errors }}
                </div>
            </div>
            <div class="row text-center">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>

    </form>

    <div>
        {% include "aristotle_mdr/helpers/paginator.html" with page=page_obj %}

        <table class="table table-striped">
            <caption>
                Concepts
            </caption>
            <tbody>
            <tr>
                <th scope="col">
                    Data Element
                </th>
                <th scope="col">
                    Components
                </th>
            </tr>
            {% if object_list %}
                {% for de in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'aristotle:item' de.id %}">
                                {{ de }}
                            </a>
                        </td>
                        <td>
                            {% if de.valueDomain %}
                                <ul>
                                    <li>
                                        <em>Value Domain</em>
                                        <br>
                                        <a href="{% url 'aristotle:item' de.valueDomain.id %}">
                                            {{ de.valueDomain }}
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                            {% if de.dataElementConcept %}
                                <ul>
                                    <li>
                                        <em>Data Element Concept</em>
                                        <br>
                                        <a href="{% url 'aristotle:item' de.dataElementConcept.id %}">
                                            {{ de.dataElementConcept }}
                                        </a>
                                        <ul>
                                            {% if de.dataElementConcept.objectClass %}
                                                <li>
                                                    <em>Object Class</em>
                                                    <br>
                                                    <ul>
                                                        <li>
                                                            <a href="{% url 'aristotle:item' de.dataElementConcept.objectClass.id %}">
                                                                {{ de.dataElementConcept.objectClass }}
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </li>
                                            {% endif %}
                                            {% if de.dataElementConcept.property %}
                                                <li>
                                                    <em>Property</em>
                                                    <br>
                                                    <ul>
                                                        <li>
                                                            <a href="{% url 'aristotle:item' de.dataElementConcept.property.id %}">
                                                                {{de.dataElementConcept.property }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </li>
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <div class="well">
                    <div class="h5 text-center">There were no Data Elements with your chosen filters.</div>
                </div>
            {% endif %}
            </tbody>
        </table>
        {% include "aristotle_mdr/helpers/paginator.html" with page=page_obj %}

    </div>


{% endblock %}