[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Needed for production
elasticsearch = ">=5.0.0,<6.0.0"
django-haystack-elasticsearch = "*"
django-redis = "*"

# ---------- Pins --------
django = "~=2.2.0"
django-haystack = "~=2.8.0"
psycopg2 = "*"
redis = ">2.10,<3.0"
celery = "==4.2.2"
kombu = "~=4.3.0"
# Pinning it because it tries to import packaging
drf-yasg = "==1.16.0"
# Pinning this until drf-yasg updates
djangorestframework = "<3.10"
django-filter = "~=2.2.0"

pypandoc = {ref = "master",git = "https://github.com/harrywhite4/pypandoc",editable = true}
aristotle-metadata-registry = {path = "./python/aristotle-metadata-registry",editable = true}
aristotle-bg-workers = {path = "./python/aristotle-bg-workers",editable = true}
aristotle-dataset-extensions = {path = "./python/aristotle-dataset-extensions",editable = true}
aristotle-glossary = {path = "./python/aristotle-glossary/",editable = true}
aristotle-mdr-api = {path = "./python/aristotle-mdr-api",editable = true}
aristotle-mdr-graphql = {path = "./python/aristotle-mdr-graphql",editable = true}
comet-indicator-registry = {path = "./python/comet-indicator-registry",editable = true}
mallard-questionnaire-registry = {path = "./python/mallard-questionnaire-registry",editable = true}

[dev-packages]
coverage = "*"
Whoosh = "*"
python-decouple = "*"
dj-database-url = "*"
"flake8" = "*"
django-tools = "*"
mock = "*"
wcag-zoo = "*"
django-impersonate = "*"
boto3 = "*"
mypy = "*"

[requires]
python_version = "3.6"

[scripts]
test = "django-admin test --settings=aristotle_mdr.tests.settings.settings"
djshell = "django-admin shell --settings=aristotle_mdr.tests.settings.settings"
lint = "flake8"
type = "/bin/sh -c 'mypy ./python/*/aristotle_*'"
clean = "/bin/sh -c 'rm -r ./python/*/*.egg-info'"
