{% extends "aristotle_mdr/base.html" %}
{% load aristotle_tags %}

{% block title %}{{ item.name }} {% endblock %}

{% block content %}

<header class="unmanaged row">
    <h1 id="objectTitle"  class="pull-left">
        <a href="#">{{ item.name }}</a>
        <span>({{ item.get_verbose_name }})</span>
    </h1>
</header>

<ul class="nav nav-tabs">
  <li role="presentation" {% if active_tab == 'home' %}class="active"{% endif %}>
    <a href="{% url 'aristotle:registrationAuthority' item.pk %}">Home</a>
  </li>
  <li role="presentation" {% if active_tab == 'members' %}class="active"{% endif %}>
    <a href="{% url 'aristotle:registrationauthority_members' item.pk %}">Members</a>
  </li>
  <li role="presentation" {% if active_tab == 'settings' %}class="active"{% endif %}>
    <a href="{% url 'aristotle:registrationauthority_edit' item.pk %}">Settings</a>
  </li>
</ul>

<div>
  {% block racontent %}{% endblock %}
</div>
{% endblock %}
