{% extends "aristotle_mdr/organization/registration_authority/base.html" %}
{% load aristotle_tags util_tags %}
{% load aristotle_search_tags %}
{% load bootstrap3 %}

{% block racontent %}
<form method="get">
    <div class="h4">Data dictionary</div>
    <p>
        Data dictionary for {{item.stewardship_organisation.name}}/{{ item.name }} (Registration Authority)
        showing concepts registered as {{status|search_state_to_text }} on
        <time datetime="{{ date|isotime }}"></time>.
    </p>
    <div class="well">
        <div class="h5 text-center">Select a different date or registration status</div>
        <div class="row text-center">
            <div class="form-group col-sm-6 col-md-6">
                {{ filter.form.registration_date }}
            </div>
            <div class="form-group col-sm-6 col-md-6">
                {{ filter.form.status}}
            </div>
        </div>
        <div class="row text-center">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
    </div
</form>
{% if filter.qs.all %}
<table class="table table-striped">
    <caption>Concepts
        <div class="btn-group pull-right">
            <button id="metadata_action_menu_download" accesskey="d" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <i class="fa fa-download"></i> Download <span class="caret"></span>
            </button>
            {% downloadMenu item %}
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                {% for dl in downloaders %}
                <li><a href="{{ dl.url }}">
                    Download as {{dl.label}}
                </a></li>
                {% empty %}
                <li><a><em>No downloads for this item</em></a></li>
                {% endfor %}
            </ul>
        </div>
    </caption>

    <tbody>
    <tr>
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Definition
        </th>
        <th scope="col">
            Created
        </th>
        <th scope="col">
            Last modified
        </th>
    </tr>
    {% for concept in filter.qs %}
    <tr>
        <td>
            <a href="{% url 'aristotle:item' concept.id %}">{{ concept.name }}</a>
        </td>
        <td>
            {{ concept.short_definition }}
        </td>
        <td>
            {{ concept.statuses.all }}
<!--            <span class="time"><time datetime="{{ concept.created|isotime }}"></time></span>-->
        </td>
        <td>
            <time datetime="{{ concept.modified|isotime }}"></time>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="well">
    <div class="h5 text-center">There were no concepts with your chosen filters.</div>
</div>
{% endif %}
{% endblock %}
