{% extends "aristotle_mdr/reviews/review/base.html" %}
{% load util_tags %}

{% block title %}Review details{{ item.name }}{% endblock %}
{% block tabpanel %}
<div role="tabpanel" class="tab-pane active" id="review_impact">
  <div class="panel">
    <div class="panel-body">
      These supersedes relations are being proposed as part of this request
      <form method="post">
        {% csrf_token %}
        {% for form in formset %}
          <div class="form-inline">
            {% for field in form.hidden_fields %}
              {{ field }}
            {% endfor %}
            {% if form.initial.newer_item %}
              <div class="form-group">
                <label>Newer item:</label>
                <span>{{ names|lookup_string:form.initial.newer_item }}</span>
              </div>
            {% endif %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock tabpanel %}
