{% extends "aristotle_mdr/reviews/review/base.html" %}
{% load util_tags %}
{% load render_bundle from webpack_loader %}

{% block webpack_bundle %}
    {% render_bundle 'formset' 'js' %}
{% endblock %}

{% block webpack_css_bundle %}
    {% render_bundle 'formset' 'css' %}
{% endblock %}

{% block title %}Review details{{ item.name }}{% endblock %}
{% block tabpanel %}
<div role="tabpanel" class="tab-pane active" id="review_impact">
  <div class="panel">
    <div class="panel-body">
      These supersedes relations are being proposed as part of this request

      {% for rel in supersedes %}
          <li>{{ rel.older }}<i class="fa fa-fw fa-arrow-right"></i>{{ rel.newer }}</li>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock tabpanel %}
