{% extends "aristotle_mdr/reviews/review/base.html" %}
{% load util_tags %}
{% load render_bundle from webpack_loader %}

{% block webpack_bundle %}
{% render_bundle 'rr_supersedes' 'js' %}
{% endblock %}

{% block webpack_css_bundle %}
{% render_bundle 'rr_supersedes' 'css' %}
{% endblock %}

{% block title %}Review details{{ item.name }}{% endblock %}
{% block tabpanel %}
<div v-pre role="tabpanel" class="tab-pane active" id="review_impact">
    <div class="panel">
        <div class="panel-body">
            <header><em>These supersedes relations are being proposed as part of this request</em></header>
            <hr>

            <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {{ formset.non_form_errors }}
                <table class="form table table-striped">
                    <thead>
                    <tr>
                        {% for form in formset %}
                            {% if forloop.first %}
                                {% for field in form.visible_fields %}
                                    <th>
                                        {{ field.label_tag }}
                                    </th>
                                {% endfor %}
                        </tr>
                        {% endif %}
                        </thead>
                        <tbody id="supersedes_form">
                        <tr>
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}

                                {% for field in form.visible_fields %}
                                <td>
                                    {{ field.errors }}
                                    {{ field }}
                                </td>
                                {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="add_code_button btn btn-success" formid="supersedes_form" href="#">Add</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock tabpanel %}
