{% extends 'aristotle_mdr/base.html' %}

<!--Adding meta to refresh every 10 seconds-->
{% block extra_head_scripts %}

{% endblock %}

{% block title %} Preparing download{% endblock %}


{% block content %}
<div style="height: 400px;">
    <div id="download-wrapper" >
        <div class="row">
            <div class="col-md-1" id="download-nav-controls"></div>
            <div class="col-md-3 text-right">
                <i style="font-size: 10em;" class="fa {% if file_details.format == 'pdf' %}fa-file-pdf-o{% else %}fa-file-o{% endif %}"></i>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{file_details.title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="download-link-wrapper">
                        <p>
                        <i class="fa fa-spinner spinning"></i> Please wait while we are preparing your download
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>File details</h5>
                    </div>
                    <div class="col-md-2">Items</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-9">{{file_details.items}}</div>

                    <div class="col-md-2">File format</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-9">{{file_details.format}}</div>

                    <div class="col-md-2">Bulk Download</div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-9">{{file_details.is_bulk}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let interval = setInterval(getDownloadStatus, 1000);
    let downloadReady = false;
        function success(data) {
            if (data.is_expired) {
                expireDownload();
            }
            else if (data.is_ready && !downloadReady){
                readyDownload(data.file_details);
            }
        }
        function getDownloadStatus() {
            $.ajax({
              dataType: 'json',
              url: window.location,
              data: {format: 'json'},
              contentType: 'application/json',
              success: success
            }).fail(function (error){
                console.log("failure", error);
            });
        }

        function expireDownload(){
            let ErrorText = $('<div></div>').text('Your download expired, Please go back and download again');
            $('#download-link-wrapper>p').html(ErrorText);
            clearInterval(interval);
        }

        function readyDownload(file_details) {
            downloadReady = true;
            let downloadIcon = $('<i></i>').addClass('fa fa-download');
            let downloadLink = $('<a></a>').text(' You document is ready to download. Click here.');
            let downloadText = $('<div></div>').text('Your download will expire in ' + file_details.ttl + ' minutes.');
            downloadLink.attr({
                'id': 'document-link',
                'download': '',
                'href': file_details.download_url,
                'target': '_blank'
            });
            $('#download-link-wrapper>p').html(downloadText);
            downloadLink.prepend(downloadIcon);
            $('#download-link-wrapper>p').append(downloadLink);
            console.log('is this a download ready situation?');
            initDownload();

        }

        function goBackDownloadButton() {
            if(!history.length) {
                return;
            }
            let goBackButton = $('<button></button>');
            goBackButton.append($('<i></i>').attr("class", "fa fa-arrow-left"));
            goBackButton.append($('<span></span>').text(" Go Back"));
            goBackButton.attr({
                id: 'go-back-button',
                onclick: 'history.go(-1)',
                class: 'btn btn-primary pull-left'
            });
            $('div#download-nav-controls').append(goBackButton);
        }

        function getDownload() {
            $('a#document-link').click(function (event) {
                let thankYouDownload = $('<div></div>').text('Thank you for downloading the document');
                $('#download-link-wrapper>p').html(thankYouDownload);
            })
        }

        {% if is_expired %}
        downloadReady = true
        expireDownload();
        {% elif file_details.download_url %}
        downloadReady = true
        readyDownload({
            ttl: {{file_details.ttl}},
            download_url: '{{file_details.download_url}}'
        });
        {% endif %}

        function initDownload() {
            clearInterval(interval);
            interval = setInterval(getDownloadStatus, 10000);
            getDownload()
        }

        function init() {
            goBackDownloadButton();
        }

        init();
</script>
{% endblock %}
