{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load aristotle_tags util_tags %}

{% block extra_head_scripts %}
<style>
  .indicator_box > * {
    /* */
    border: 1px solid lightgray;
    /* */
    padding: 5px 15px;
  }

  .seemore {
    float:right;
    font-size:90%;
  }

  .indicator_box {
    display: flex;
    flex-wrap: wrap;
  }
  .indicator_box > * {
    flex-grow: 1;
    flex-basis: 15em;
    word-wrap: break-word;
  }

  .numerator .text {
    vertical-align: bottom;
  }

  .indicator_box header {
    font-weight:bold;
    text-align:center;
    padding-right:8px;
  }

  .fraction hr.vinculum {
    border-top: 1px solid darkgray;
    margin:10% 0px;
  }
  /* .computation {
    white-space: pre-wrap;
  } */
</style>
{% endblock %}

{% block objSpecific %}

<div class="indicator_box">
  <div class="fraction">
    <div class="dividend numerator">
      <header>Numerator</header>
      <div class="text">
        {% if item.numerator_description %}
        {{ item.numerator_description | bleach }}
        {% else %}
        No description available
        {% endif %}
      </div>
      {% if item.numerator_description or item.indicatornumeratordefinition_set.exists %}
      <a class="seemore" href="#numerators">See more</a>
      {% endif %}
    </div>
    <hr class="vinculum">
    <div class="dividend denominator">
      <header>Denominator</header>
      <div class="text">
        {% if item.denominator_description %}
        {{ item.denominator_description | bleach }}
        {% else %}
        No description available
        {% endif %}
      </div>
      {% if item.denominator_description or item.indicatordenominatordefinition_set.exists %}
      <a class="seemore" href="#denominators">See more</a>
      {% endif %}
    </div>
  </div>
  <div class="calculation">
    <header>Computation</header>
      <div class="computation">{{ item.computation| bleach | truncatewords_html:80  }}</div>
      <a class="seemore" href="#calculation">See more</a>
  </div>
  <div class="disaggregation">
    <header>Disaggregation</header>
      <div>{{ item.disaggregation_description | bleach | truncatewords_html:80 }}</div>
      {% if item.disaggregation_description or item.indicatordisaggregationdefinition_set.exists %}
      <a class="seemore" href="#disaggregation">See more</a>
      {% endif %}
  </div>
</div>

{% if item.outcome_areas.all.exists %}
<h2>Outcome Areas</h2>
<ul>
{% for outcome in item.outcome_areas.all %}
  {% if outcome.id in viewable_ids %}
    <li>{% include "aristotle_mdr/helpers/inlineDetails.html" with item=outcome showType=False skip_can_view=True %}</li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if item.rationale %}
<h2>Rationale</h2>
<p>{{ item.rationale | bleach }}</p>
{% endif %}

<h2>Calculation rules</h2>
<div class="container">
  <div class="row" id="computation">
    <div class="col-sm-2">
      <header class="h4">Computation Rule</header>
    </div>
    <div class="col-sm-9">
        <dl>
          <dt>Computation</dt>
          <dd><div class="computation well">{{ item.computation | bleach }}</div></dd>
          <dt>Description</dt>
          <dd>
          {{ item.computation_description | bleach }}
          </dd>
        </dl>
    </div>
  </div>

  {% if item.numerator_description or item.indicatornumeratordefinition_set.exists %}
  <div class="row" id="numerators">
    <div class="col-sm-2">
      <header class="h4">Numerators</header>
    </div>
    <div class="col-sm-9">
        {{ item.numerator_description | bleach  }}
        {% include "comet/helpers/indicator_component_item.html" with queryset=item.indicatornumeratordefinition_set.all %}
    </div>
  </div>
  {% endif %}
  {% if item.denominator_description or item.indicatordenominatordefinition_set.exists %}
  <div class="row" id="denominators">
    <div class="col-sm-2">
      <header class="h4">Denominators</header>
    </div>
    <div class="col-sm-9">
        {{ item.denominator_description | bleach }}
        {% include "comet/helpers/indicator_component_item.html" with queryset=item.indicatordenominatordefinition_set.all %}
    </div>
  </div>
  {% endif %}
  {% if item.disaggregation_description or item.indicatordisaggregationdefinition_set.exists %}
  <div class="row" id="disaggregation">
    <div class="col-sm-2">
      <header class="h4">Disaggregation</header>
    </div>
    <div class="col-sm-9">
        {{ item.disaggregation_description|bleach }}
        {% include "comet/helpers/indicator_component_item.html" with queryset=item.indicatordisaggregationdefinition_set.all %}
    </div>
  </div>
  {% endif %}
  
</div>

{% endblock %}
