{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load aristotle_tags util_tags %}

{% block extra_head_scripts %}
<style>
  .indicator_box > * {
    /* */
    border: 1px solid gray;
    /* */
    padding: 5px 15px;
  }

  .indicator_box {
    display: flex;
  }
  .indicator_box > * {
    flex-grow: 1;
  }

  .indicator_box .fraction {
    display: table;
  }
  .fraction > * {
    display: table-row;
  }
  .fraction > * > * {
    display: table-cell;
  }
  .numerator .text {
    vertical-align: bottom;
  }

  .indicator_box header {
    font-weight:bold;
    text-align:center;
    padding-right:8px;
  }

  .divider {
    vertical-align: middle;
    text-align:center;
    font-size:150%;
  }
  .numerator header {
    vertical-align: bottom;
  }
  .denominator header {
    vertical-align: top;
  }

</style>
{% endblock %}

{% block objSpecific %}
<!-- aria-labelledby="myBillingId -->

<div class="indicator_box">

  <div class="fraction">
    <div class="dividend numerator">
      <header>Numerator</header>
      <div class="text">{{ item.numerator_description | bleach }}</div>
    </div>
    <div>
      <header class="divider">&divide;</header>
      <div>
        <hr>
      </div>
    </div>
    <div class="dividend denominator">
      <header>Denominator</header>
      <div class="text">{{ item.denominator_description | bleach }}</div>
    </div>
  </div>
  <div class="calculation">
    <header>Computation</header>
      <pre>{{ item.computation | bleach }}</pre>
  </div>
  <div class="disaggregation">
    <header>Disaggregation</header>
      <div>{{ item.disaggregation_description | bleach }}</div>
  </div>
</div>

{% if item.outcome_areas %}
<h2>Outcome Areas</h2>
<ul>
{% for outcome in item.outcome_areas.all %}
  {% if outcome.id in viewable_ids %}
    <li>{% include "aristotle_mdr/helpers/inlineDetails.html" with item=outcome showType=False skip_can_view=True %}</li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if item.rationale %}
<h2>Rationale</h2>
<p>{{ item.rationale | bleach }}</p>
{% endif %}

<h2>Calculation rules</h2>
    {{ item.computation_description | bleach }}
    {% if item.numerator_computation or item.denominator_computation %}
    <h3>Computation Rule:
    </h3>
        <pre>{{ item.numerator_computation | bleach }}</pre>
        <pre>{{ item.denominator_computation | bleach }}</pre>
    {% endif %}
    <h3>Numerators</h3>
        {{ item.numerator_description | bleach  }}
        <ul>
        {% for num in item.indicatornumeratordefinition_set.all %}
          
          {% if num.data_element_id in viewable_ids %}
            <li>
              {% include "aristotle_mdr/helpers/itemLink.html" with item=num.data_element showType=False skip_can_view=True %}
              |
              {% include "aristotle_mdr/helpers/itemLink.html" with item=num.data_set_specification showType=False skip_can_view=True %}
              |

            </li>
          {% else %}
            <li>You don't have permission to view this item</li>
          {% endif %}
        {% endfor %}
        </ul>
    <h3>Denominators</h3>
        {{ item.denominator_description }}
        <ul>
        {% for denom in item.denominators.all %}
          {% if denom.id in viewable_ids %}
            <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=denom showType=False skip_can_view=True %}
          {% else %}
            <li>You don't have permission to view this item</li>
          {% endif %}
        {% endfor %}
        </ul>
<h2>Disaggregation</h2>
    {{ item.disaggregation_description|bleach }}
        <ul>
        {% for disagg in item.disaggregators.all %}
          {% if disag.id in viewable_ids %}
            <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=disagg showType=False skip_can_view=True %}
          {% else %}
            <li>You don't have permission to view this item</li>
          {% endif %}
        {% endfor %}
        </ul>
{% if item.dataElementConcept or item.valueDomain %}
<h2>Components</h2>
    {% if view == "technical" %}
    <h3>Data Element Concept -
        {% include "aristotle_mdr/helpers/itemLink.html" with item=item.dataElementConcept %}</h3>
        {% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.dataElementConcept name=False %}
        <dl class="additionaldetails">
            <dt>Object Class</dt>
            <dd>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.dataElementConcept.objectClass %}
            </dd>
            <dt>Property</dt>
            <dd>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.dataElementConcept.property %}
            </dd>
        </dl>
    {% endif %}
    {% if item.valueDomain %}
    <h3>Value Domain -
        {% include "aristotle_mdr/helpers/itemLink.html" with item=item.valueDomain %}</h3>
        {% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.valueDomain name=False %}
        <h4>Representation</h4>
        {% include "aristotle_mdr/concepts/valueDomainRepresentation.html" with item=item.valueDomain %}
    {% endif %}
{% endif %}
{% endblock %}
