{% load i18n l10n %}
<style>
    select {
        font-family: 'FontAwesome','sans-serif'
    }
</style>
{% if compare_view %}<form method="GET" action="{{ action }}">{% endif %}
<table id="change-history" class='table table-striped'>
    <caption>Revisions for {{object.name}}
        {% if compare_view %}
            - {% trans 'Select two items and click compare to see the differences between them'%}
        {% endif %}
    </caption>
    <thead>
    <tr>
        {% if compare_view %}
            <th scope="col">
                {% if comparable %}
                    <input class="btn btn-default btn-xs" type="submit" value="{% trans 'Compare' %}">
                {% else %}
                    <i>{% trans 'Compare' %}</i>
                {% endif %}
            </th>
        {% endif %}
        <th scope="col">{% trans 'Date/time' %}</th>
        <th scope="col">{% trans 'User' %}</th>
        <th scope="col">{% trans 'Comment' %}</th>
        <th scope="col">
                <input class="btn btn-default btn-sm" type="button" onclick="enable_editing()" value="Edit Visibilities">

                <input disabled class="btn btn-default btn-sm" id="save-visibility" type="button"
                       onclick="update_visibilities()"
                       value="Save Visibilities">
        </th>
    </tr>
    </thead>
    <tbody>
    {# Iteration through the versions #}
    {% for action in action_list %}
        <tr>
            {% if compare_view %}
                <td scope="row">
                    {% if comparable %}
                        <input type="radio" name="version_id1" value="{{ action.version.pk|unlocalize }}" {% if action.first %}style="visibility:hidden" {% endif %}{% if version1.pk|unlocalize == action.version.pk|unlocalize or action.second %}checked="checked"{% endif%}/>
                        <input type="radio" name="version_id2" value="{{ action.version.pk|unlocalize }}" {% if version2.pk|unlocalize == action.version.pk|unlocalize or action.first == 1 %}checked="checked"{% endif%}/>
                    {% else %}
                        <i>-</i>
                    {% endif %}
                </td>
            {% endif %}
            <th scope="row">
                {% if action.url %}
                    <a href="{{action.url}}">{{action.revision.date_created|date:_("DATETIME_FORMAT")}}</a>
                {% else %}
                    {{action.revision.date_created|date:_("DATETIME_FORMAT")}}
                {% endif %}
            </th>
            <td>
                {% if action.revision.user %}
                    {% firstof action.revision.user.get_full_name  action.revision.user.email %}
                {% endif %}
            </td>
            <td>{{action.revision.comment|linebreaks|default:"-"}}</td>
            <td>
                {# Visibility #}
                <select disabled class="form-control visibility-select" data-version-id="{{ action.version.id }}">
                    <option value="0"{% if action.permission == 0 %}selected{%endif%}>&#xf0ac; Public</option>
                    <option value="1"{% if action.permission == 1 %}selected{%endif%}>&#xf2bd; Logged in users</option>
                    <option value="2"{% if action.permission == 2 %}selected{%endif%}>&#xf0c0; Workgroup only</option>
                </select>
            </td>
    {% endfor %}
            </tr>

    </tbody>
    <tfoot>
    <tr>
        {% if compare_view %}
            <th scope="col">
                {% if comparable %}
                    <input class="btn btn-default btn-xs" type="submit" value="{% trans 'Compare' %}">
                {% else %}
                    <i>{% trans 'Compare' %}</i>
                {% endif %}
            </th>
        {% endif %}
        <th scope="col">
            {#                {% trans 'Date/time' %}#}
        </th>
        <th scope="col">
            {#                {% trans 'User' %}#}
        </th>
        <th scope="col">
            {#                {% trans 'Comment' %}#}
        </th>
        <th scope="col">
            {#                {% trans 'Visiblity' %}#}
        </th>
    </tr>
    </tfoot>
</table>
{% if compare_view %}</form>{% endif %}

<script>
    function enable_editing() {
        var visibilitySelects  = document.getElementsByClassName('visibility-select');
        for (let select of visibilitySelects) {
            select.disabled = false;
        }
        var saveVisibilityButton = document.getElementById('save-visibility')
        saveVisibilityButton.disabled = false;
    }
    function update_visibilities() {
        var selectedValues = new Array();

        var visibilitySelects = document.getElementsByClassName('visibility-select');
        for (let element of visibilitySelects) {
             var value  = element.options[element.selectedIndex].value;
             var id = element.getAttribute("data-version-id");
             console.log(id)
             selectedValues.push(value)
         }
         console.log(selectedValues)
    }

</script>
