{% extends "aristotle_mdr/stewards/base.html" %}
{% load i18n %}

{% block title %}Collections | {{ stewardship_organisation }}{% endblock %}
{% block page_title %}{{ stewardship_organisation }} | Collections{% endblock %}

{% block steward_content %}
<p>
    
</p>

    <section id="ras">
        {% if not hide_add_button %}
        <a class="btn btn-default pull-right" href="{% url 'aristotle:stewards:group:collections_create' group.slug %}">Add New Collection</a>
        {% endif %}
        
<table class="table">
    <thead>
    <tr>
        <th>{% trans 'Colection' %}
        </th>
        <th>{% trans 'Description' %}
        </th>
        <th>
            <i class="fa fa-hashtag" title="{% trans 'Number of items' %}"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td>
                <a href="{{item.get_absolute_url}}">
                    {{ item.name }}
                </a>
            </td>
            <td>{{ item.description|striptags|truncatewords:50 }}</td>
            <td>{{ item.metadata.all.count }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

    </section>
{% endblock %}
