{% load util_tags %}
{% block content %}
<section>
    <header>
    <{{header}} id="objectTitle">
        {{ item.name }}
    </{{header}}>
    <small>Item id: {{item.id}}
        {% if item.version %}v {{item.version}}{% endif %}
    </small>
</header>

<dt>Definition</dt>
<dd>
  <div class="definition">
      {{ item.definition|bleach }}
  </div>
</dd>

{% if item.references %}
    <dt>References</dt>
    <dd>{{ item.references|bleach }}</dd>
{% endif %}

{% if item.origin %}
    <dt>Origin</dt>
    <dd>{{ item.origin|bleach }}</dd>
{% endif %}

{% if item.comments %}
    <dt>Comments</dt>
    <dd>{{ item.comments|bleach }}</dd>
{% endif %}

<div class="status">
    {% include "aristotle_mdr/downloads/html/helpers/statuses.html" with current_statuses=current_statuses item=item only %}
</div>

  {# {% include "aristotle_mdr/downloads/html/slots/slots_display.html" %} #}
  {% include "aristotle_mdr/downloads/html/component/custom_fields_display.html" %}

<div class="objectSpecific">
    {% block objSpecific %}
    {% endblock %}
</div>

</section>

{% endblock %}
