.draggableTable .grabber {
    cursor: move;
    cursor:-webkit-grab;
    cursor:-moz-grab;
}
.draggableTable .grabbed {
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
}

.formstage {
    display:none;
    visibility:hidden;
}

.weak_formset {
  margin-top: 15px;
  overflow-x: auto;
  input {
      width: 100%;
  }
}
