{% extends 'aristotle_mdr/concepts/contentInfoBase.html' %}

{% load aristotle_tags i18n l10n %}
{% load render_bundle from webpack_loader %}


{% block webpack_bundle %}
    {% render_bundle 'comparer' 'js' %}
{% endblock %}

{% block webpack_css_bundle %}
    {% render_bundle 'comparer' 'css' %}
{% endblock %}

{% block title %}Concept comparator {{ item.name }}{% endblock %}

{% block content %}
    <h1>Concept comparator</h1>
    <form method="get" action="">
        <p>
            This form allows you to compare items.
            Text in green below is present only in the item in that column, text in red is
            present only in the opposite column and text in white is similar across both items.
        </p>
        <table class="table table-bordered compare">
            <thead>
            <tr>
                <th>Field</th>
                <th>
                    {{ form.item_a.label }}<br>
                    {{ form.item_a }}
                </th>
                <th></th>
                <th>
                    {{ form.item_b.label }}<br>
                    {{ form.item_b }}
                </th>
                <th></th>
            </tr>
            </thead>
            {% if item_a and item_b %}
            <tbody>
                <tr>
                    <td></td>
                    <td><a href="{{item_a.get_absolute_url}}">{{item_a}}</a></td>
                    <td>To</td>
                    <td><a href="{{item_b.get_absolute_url}}">{{item_b}}</a></td>
                    <td>
                        <a href="?item_a={{item_b.pk}}&item_b={{item_a.pk}}" title="Reverse order"><i class="fa fa-retweet"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            {% endif %}
        </table>
        <input id="compare" type="submit" class="btn btn-primary" value="Compare" />
    </form>
    {% if not_all_versions_selected %}
        <div class="well">
            Both versions must be selected
        </div>
    {% elif cannot_compare %}
        <div class="well">
            Those versions could not be compared
        </div>
    {% else %}
        {% if not has_same_base_model %}
            <div class="well">
                The metadata items being compared are not of the same type.
                Only common metadata fields are compared and custom fields are compared based on name only.
            </div>
        {% endif %}
        <div class="container">
            {% if diffs %}
                <table class="table">
                    <caption>Differences
                        <div class="btn-group pull-right">
                            {% if raw %}
                                <a type="button" href="{{ request.path }}?v1={{ version_1_id }}&v2={{ version_2_id }}"
                                   class="btn btn-default">Text-Only</a>
                                <a type="button" class="btn btn-primary" class="btn btn-default">Raw</a>
                            {% else %}
                                <a type="button" class="btn btn-primary">Text-Only</a>
                                <a type="button" href="{{ request.get_full_path }}&raw=true"
                                   class="btn btn-default">Raw</a>
                            {% endif %}
                        </div>
                    </caption>
                    <tbody>
                    <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Differences</th>
                    </tr>
                    {% for parent_field, diff in diffs.items %}
                        <tr>
                            {% if not diff %}
                                {# If there's no difference don't display it #}
                            {% else %}
                                <td>
                                    {% if diff.is_html and False %}
                                        {# If the diff for the field is HTML then we want to provide a link to a side #}
                                        {# by side comparision #}
                                        {{ diff.user_friendly_name }}
                                        <a href="{# % url 'aristotle:compare_fields' item.id % #}?v1={{ version_1_id }}&v2={{ version_2_id }}&field={{ parent_field }}">
                                            <i class="fa fa-columns"></i></a>
                                    {% else %}
                                        {{ diff.user_friendly_name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if diff.subitem %}
                                        {# It's a subitem so we need to display it in a special way #}
                                        <table class="table table-striped">
                                            <caption></caption>
                                            {% for item_diff in diff.diffs %} {# <-- List of the subitems for a particular field #}
                                                <tr>

                                                    {% for field, differences in item_diff.items %}
                                                        {# <-- The fields and tuple differences for a field in a particular subitem #}
                                                        <tr>
                                                            <td>
                                                                {% if differences.is_html and False %}
                                                                    {{ field|title }}
                                                                    <a href="{# % url 'aristotle:compare_fields' item.id % #}?v1={{ version_1_id }}&v2={{ version_2_id }}&field={{ parent_field }}.{{ forloop.parentloop.counter0 }}.{{ field }}">
                                                                        <i class="fa fa-columns"></i></a>
                                                                {% else %}
                                                                    {{ field|title }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% for difference in differences.diff %} {# <-- Tuple of differences #}
                                                                    {% render_difference difference %}
                                                                {% endfor %} {# <-- End per field iteration #}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                <tr>
                                                    <td></td>
                                                </tr>
                                                </tr>
                                            {% endfor %} {# <-- End per item iteration #}
                                        </table>
                                    {% else %}
                                        {# Not a subitem, no special treatment required #}
                                        {% for difference in diff.diffs %}
                                            {% render_difference difference %}
                                        {% endfor %}
                                        </td>
                                    {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endif %} {# <-- End not all versions selected #}

{% endblock %}
