{% load util_tags bootstrap3 %}

<div class="row">
    {% bootstrap_field form.registrationDate placeholder="" layout="horizontal" horizontal_field_class="col-md-5" %}
</div>
<div class="row">
    {% bootstrap_field form.cascadeRegistration placeholder="" layout="horizontal" horizontal_field_class="col-md-5" %}
</div>
<div class="row">
    {% bootstrap_field form.state placeholder="" layout="horizontal" required_css_class="required" horizontal_field_class="col-md-5" %}
</div>
{#{% bootstrap_field form.registrationAuthorities placeholder="" layout="horizontal" required_css_class="required" horizontal_field_class="col-md-5" %}#}
<div class="row">
    <div class="form-group">
        <div class="col-md-3 control-label">
            <label for="id_registrationAuthorities">
                {{ form.registrationAuthorities.label }} <span>*</span>
                <span class="text-danger">{{ form.registrationAuthorities.errors }}</span>
            </label>
        </div>
        <div class="col-md-7">
            <ul>
                {% for val,label_text in form.registrationAuthorities.field.choices %}
                    {% if val %}
                        <li>
                            <input type="radio" id="{% if wizard %}{{ wizard.steps.current }}-{% endif %}registrationAuthorities_{{val}}" name="{% if wizard %}{{ wizard.steps.current }}-{% endif %}registrationAuthorities" value="{{val}}">
                            <label for="{% if wizard %}{{ wizard.steps.current }}-{% endif %}registrationAuthorities_{{val}}">{{label_text}}</label>
                            <a href="{% url 'aristotle_mdr:registrationAuthority' iid=val %}" title="Visit the registration authority page to learn more about state meanings for this authority" class="pull-right">
                                <i class="fa fa-fw fa-university"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    {% bootstrap_field form.changeDetails placeholder="" layout="horizontal" horizontal_field_class="col-md-7" %}
</div>

