{% load util_tags %}

<h1>{{ field.heading }}</h1>
{% if field.is_group %}
    {% if field.subfields %}
        <table class="table">
            <thead>
              <tr>
                {% for subfield in field.subfields.0 %}
                  <th>{{ subfield.heading }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for flist in field.subfields %}
                <tr>
                {% for subfield in flist %}
                  {% comment %}
                  Some duplication here could render the template again but it's
                  not needed right now since depth is only 1
                  {% endcomment %}
                  <td>
                  {% if subfield.is_link %}
                    <a href="{{ field.url }}">{{ field }}<span class="text-danger">*</span></a>
                  {% else %}
                      {{ subfield }}
                  {% endif %}
                  </td>
                {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Empty</p>
    {% endif %}
{% elif field.is_link %}
    <a href="{{ field.url }}">{{ field }}<span class="text-danger">*</span></a>
{% else %}
    {% if field.is_html %}
        {{ field|as_str|bleach }}
    {% else %}
        {{ field }}
    {% endif %}
{% endif %}
