{% extends "aristotle_mdr/user/userHome.html" %}

{% block title %}All Tags{% endblock %}
{% block collapse-link%}<i class="fa fa-bookmark fa-fw"></i> All Tags</a>{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='favourites' %}
{% endblock %}

{% block page %}
  <h1>All Tags</h1>

  {% if page_obj %}
    {% for item in page_obj %}
      {% if forloop.first or forloop.counter|divisibleby:"5" %}
        <div class="row">
      {% endif %}
      <div class="col-md-3">{{ item.name }}</div>
      {% if forloop.last or forloop.counter|divisibleby:"4" %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
