{% load i18n %}
<form action="{% url 'aristotle:bulk_action' %}?next={{ request.path }}" method="POST">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th>
          <input title='{% trans "Select all" %}' type="checkbox" id="all_in_queryset" name="all_in_queryset">
        </th>
        <th></th>
        <th>Item</th>
        {% if tags_list %}
          <th>Tags</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for fav in page_obj %}
      <tr>
        <td><input type="checkbox" id="id_items_{{fav.item.id}}" name="items" value="{{fav.item.id}}"></td>
        <td><i class="fa fa-bookmark{% if fav.item_favourite < 1 %}-o{% endif %}"></i>{{ fav.is_favourite }}</td>
        <td><a href="{% url 'aristotle_mdr:item' fav.item.id %}">{{ fav.item.name }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% include "aristotle_mdr/helpers/list_action_bar.html" with wrap=True %}
{% include "aristotle_mdr/helpers/paginator.html" with page=page %}
</form>
