{% load util_tags %}

{% with custom_values=item|get_custom_values_for_item:user %}
{% if custom_values %}
<dl class="custom_fields">
<dt class="main_heading">Custom Fields</dt>
<dd>
    <dl>
        {% for cv in custom_values %}
            <dt>
                {{ cv.field.name }}
            </dt>
            <dd>
                {% if cv.is_html %}
                    {{ cv.content|bleach }}
                {% else %}
                    {{ cv.content }}
                {% endif %}
            </dd>
        {% endfor %}
    </dl>
</dd>
</dl>
{% endif %}
{% endwith %}