{% load util_tags %}

{% if custom_values %}
    <h2>Custom Fields</h2>
{% endif %}
<div class="container">
    {% for cv in custom_values %}
            <div class="dl">
                <b>{{ cv.field.name }}</b>
            </div>
            <div class="dt">
                {% if cv.is_html %}
                    <div class="indent-right-2">
                    {{ cv.content|bleach }}
                    </div>
                {% else %}
                    {{ cv.content }}
                {% endif %}
            </div>
    {% endfor %}
</div>
