{% extends "aristotle_mdr/user/userHome.html" %}
{% load i18n static %}

{% block individual_scripts %}
<script src="{% static 'aristotle_mdr/sandbox.js' %}"></script>
<script>
    delete_submit_url="{% url 'aristotle_mdr:sandbox_delete' %}";
</script>
{% endblock %}

{% block page %}
<h1><i class="fa fa-pencil-square-o fa-fw"></i> {% block title %}{% trans "My Sandbox" %}{% endblock %}</h1>
<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#share-link-modal"><i class="fa fa-share-square-o fa-fw"></i>{% if not share %}Create {% endif %}Share Link</button>

{% if display_share and share %}
<div class="alert alert-info" role="alert">
  Your share link is
</div>
{% endif %}

<p>
    Below are all items you have created that have not been registered, requested for review or assigned to a workgroup.
    Only you can see these items.
</p>

<div id="share-link-modal" class="modal fade exclude-scrap" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share Link</h4>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% if share %}
            <p>Share: {{ share }}</p>
          {% endif %}
          {% csrf_token %}
          {{ form.as_table }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">{% if share %}Update{% else %}Create{% endif %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="delete-modal" class="modal fade exclude-scrap" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p id="modal-message">...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="delete-confirm-button" type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>

{% include "aristotle_mdr/helpers/bulk_action_paginated_list.html" with allow_select_all=True page=page_obj delete=True %}

{% endblock %}
