{% extends 'aristotle_mdr/base.html' %}
{% load i18n util_tags %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}Edit link - {{link.root_item.name}}{% endblock %}

{% block webpack_css_bundle %}
  {% render_bundle 'wizard' 'css' %}
{% endblock %}

{% block webpack_bundle %}
  {% render_bundle 'wizard' 'js' %}
{% endblock %}

{% block content %}
    {% assign link.root_item as item %}
    <form method="post" action="">{% csrf_token %}
        <div class="modal-body">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            {% breadcrumb_list breadcrumbs %}

            <div>
                You are about to add concepts to the roles for the relation
                <a target="_blank" href='{{link.relation.get_absolute_url}}'>{{ link.relation }}</a> for this link.
                {% if link.relation.definition %}
                    <div class='well'>
                    {{ link.relation.definition|bleach }}
                    </div>
                {% endif %}
            </div>
            <div>
                <div>
                    {% include 'aristotle_mdr_links/actions/helpers/link_end_form.html' %}
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-default" href="{{ request.GET.next }}">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </form>
{% endblock %}
