{% extends "aristotle_mdr/user/userHome.html" %}
{% load i18n %}


{% block workgroupSub %}
    <ul class="nav nav-pills nav-stacked nav-collapse">
        <li class="active">
            <a href="#"><i class="fa fa-home fa-fw"></i> {{ workgroup.name }}</a>
        </li>
    </ul>
{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with  activeTab='workgroups'  subWorkgroup=item %}
{% endblock %}

{% block page %}
    <h1>{% block title %} Editing - {{ item.name }}{% endblock %}</h1>


    <form action="" method="POST">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <a class="btn btn-danger" href="{% url 'aristotle:workgroup' item.id %}">Cancel</a>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
{% endblock %}
