{% extends "aristotle_mdr/user/userHome.html" %}
{% load i18n %}

{% block collapse-link %}
{% endblock %}

{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='steward_orgs' %}
{% endblock %}

{% block title %}Workgroups | {{ stewardship_organisation }}{% endblock %}

{% block page %}
<h1>
    {{ stewardship_organisation }}
</h1>

{% include "stewards/helpers/tabs.html" with active_tab="workgroups" %}

<section id="workgroups">
    <a class="btn btn-default" href="{% url 'aristotle:workgroup_create'%}">Add New Workgroup</a>
    
    {% include "aristotle_mdr/helpers/paginated_workgroup_list.html" with page=page show_all=True show_stewardship_organisations=False %}
</section>
{% endblock %}
