{% extends "aristotle_mdr/stewards/base.html" %}
{% load i18n %}

{% block title %}Registration Authorities | {{ stewardship_organisation }}{% endblock %}
{% block page_title %}{{ stewardship_organisation }} | Registration Authorities{% endblock %}

{% block steward_content %}
<p>
    
</p>

    <section id="ras">
        {% if not hide_add_button %}
        <a class="btn btn-default pull-right" href="{% url 'aristotle:registrationauthority_create'%}">Add New Registration Authority</a>
        {% endif %}
        
        {% include "aristotle_mdr/helpers/paginated_registration_authority_list.html" with page=page show_all=True manage=True %}
</section>
{% endblock %}
