{% extends 'aristotle_mdr/concepts/contentInfoBase.html' %}
{% load render_bundle from webpack_loader %}
{% load util_tags %}

{% block title %}Issue #{{object.id}} - {{ object.name }} {% endblock %}

{% block webpack_css_bundle %}
    {% render_bundle 'issue' 'css' %}
{% endblock %}

{% block webpack_bundle %}
    {% render_bundle 'issue' 'js' %}
{% endblock %}

{% block infoContent %}
    <div class="row">
        <div class="col-sm-8 col-xs-offset-1">
            <a  class="btn btn-default pull-right margin-above" href="{% url 'aristotle_issues:item_issues' object.item_id %}">
                All issues for this item
            </a>
            <h1>
                <open-close :is-open="isOpen"></open-close>
                {{ object.name }}
                {% if own_issue %}
                  <button class="btn btn-default btn-sm" @click="openIssueModal">Edit</button>
                {% endif %}
            </h1>

            <p class="text-muted">Opened {{ object.created|timesince }} ago by {{ object.submitter.display_name }}</p>
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Description</strong></div>
              <div class="panel-body">
                {{ object.description }}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>
                  <a class="blackLink" role="button" data-toggle="collapse" href="#collapseProposal" aria-expanded="false" aria-controls="#collapseProposal">
                    Proposed changes to {{ object.proposal_field }}
                  </a>
                </strong>
              </div>
              <div id="collapseProposal" class="collapse panel-body">
                {{ object.proposal_value|bleach }}
              </div>
            </div>
        </div>
    </div>

    {% for comment in comments %}
        <comment
                pic="{{ comment.author.profile.profile_picture_url }}"
                name="{{ comment.author.display_name }}"
                created="{{ comment.created|date:"c" }}"
                body="{{ comment.body }}">
        </comment>
    {% endfor %}

    <comment
            v-for="comment in new_comments"
            :key="comment.id"
            :pic="comment.pic"
            :name="comment.name"
            :created="comment.created"
            :body="comment.body">
    </comment>

    <issue-comment
            pic="{{ user.profile.profile_picture_url }}"
            user-id="{{ user.id }}"
            user-name="{{ user.get_short_name }}"
            issue-id="{{ object.id }}"
            issue-is-open="{{ object.isopen }}"
            comment-url="{% url 'api_v4:issues:comment' %}"
            open-close-url="{% url 'api_v4:issues:update_and_comment' object.id %}"
            open-close-permission="{{ can_open_close }}"
            @set_open="setIsOpen"
            @created="addComment">
    </issue-comment>


    <issue-modal
            edit
            v-model="issueModalOpen"
            iid="{{ item.id }}"
            url="{% url 'api_v4:issues:issue' object.id %}"
            propose-fields="{{ fields }}"
            initial="{{ initial }}">
    </issue-modal>
{% endblock %}
