{% extends "aristotle_mdr_browse/base.html" %}
{% load i18n aristotle_tags aristotle_help %}

{% block breadcumbs %}
<li>{{ group }}</li>
{% endblock %}

{% block title %}
Metadata | {{ group }}
{% endblock %}

{% block object_list %}

{% include "stewards/helpers/tabs.html" with active_tab="metadata" %}


    <p>
        <em>{{ model.get_verbose_name }} - </em>
    </p>

{% include "aristotle_mdr/helpers/bulk_action_paginated_list.html" with page=page_obj allow_select_all=True %}

{% endblock %}
